<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <meta charset="utf-8"/>
    <meta name="theme-color" content="#000000"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="@icon/dashicons/dashicons.css">
    <link rel="stylesheet" href="/public/dist/styles.css"/>
    <link rel="stylesheet" href="http://localhost:8888/paymentplugins/wp-includes/css/dist/components/style.css"/>
    <script src="http://localhost:8888/paymentplugins/wp-includes/js/dist/vendor/react.js"></script>
    <script src="http://localhost:8888/paymentplugins/wp-includes/js/dist/vendor/react-dom.js"></script>
    <script src="http://localhost:8888/paymentplugins/wp-includes/js/dist/vendor/wp-pollyfill.js"></script>
    <script src="http://localhost:8888/paymentplugins/wp-includes/js/dist/vendor/react-jsx-runtime.js"></script>
    <script src="http://localhost:8888/paymentplugins/wp-includes/js/dist/hooks.js"></script>
    <script src="http://localhost:8888/paymentplugins/wp-includes/js/dist/i18n.js"></script>
    <script src="http://localhost:8888/paymentplugins/wp-includes/js/dist/escape-html.js"></script>
    <script src="http://localhost:8888/paymentplugins/wp-includes/js/dist/element.js"></script>
    <script src="http://localhost:8888/paymentplugins/wp-includes/js/dist/primitives.js"></script>
    <script src="http://localhost:8888/paymentplugins/wp-includes/js/dist/compose.js"></script>
    <script src="http://localhost:8888/paymentplugins/wp-includes/js/dist/private-apis.js"></script>
    <script src="http://localhost:8888/paymentplugins/wp-includes/js/dist/components.js"></script>
    <script src="http://localhost:8888/paymentplugins/wp-includes/js/dist/primitives.js"></script>
    <script src="http://localhost:8888/paymentplugins/wp-includes/js/jquery/jquery.js"></script>

    <script defer="defer" src="/public/dist/index.js"></script>
</head>
<body>
<div id="app">

</div>
</body>
</html>