@mixin input-props {
  font-size: 1rem;
  padding: 8px;
  border-radius: 0;
  border: none;
  box-shadow: 0px 0px 1px 1px #8c8f94;
  height: 40px;
  padding: 0px 14px;
}

.PaidCommunitiesGrid-root {
  display: flex;
  width: 100%;
  margin-top: 12px;
  margin-left: -24px;
  flex-wrap: wrap;

  .PaidCommunitiesGrid-item {
    width: 100%;
    padding-left: 24px;
    padding-top: 24px;
    margin: 0;
    flex-basis: 100%;
    flex-grow: 0;
    max-width: 100%;
  }
}

.PaidCommunitiesStack-root {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.PaidCommunitiesLabel-root {
  width: 200px;
  font-weight: 700;
}

.PaidCommunitiesInput-text {
  @include input-props;
}

.woocommerce {
  table {
    &.form-table {
      .PaidCommunitiesInput-text {
        @include input-props;
      }
    }
  }
}

.PaidCommunitiesButton-root {
  margin: 0;
  display: flex;
  align-items: center;
  margin-left: 8px;
  height: 40px;
}

.components-button {
  &.PaidCommunitiesButton-root {
    font-size: 1rem;
    margin: 0;
    display: flex;
    align-items: center;
    margin-left: 8px;
    height: 40px;
  }
}

.LicenseKey {
  width: 350px;
}

.LicenseRegistered {
  position: relative;

  &:after {
    content: "\f12a";
    font-family: 'dashicons';
    position: absolute;
    right: 8px;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #a5dc86;
  }
}

@media screen and (max-width: 600px) {
  .LicenseKeyOptionGroup {
    flex-direction: column;
    align-items: flex-start;

    .PaidCommunitiesLabel-root,
    .PaidCommunitiesInputBase-root {
      margin-bottom: 8px;
      width: 100%;
    }

    .ActivateLicense {
      margin: 0;
    }

    .LicenseKey {
      width: 100%;
    }

    .PaidCommunitiesButton-root{
      margin-left: 0;
    }

    .components-button {
      &.PaidCommunitiesButton-root {
        margin-left: 0;
      }
    }
  }
}


$error-text: rgb(95, 33, 32);
$success-text: rgb(30, 70, 32);